<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @entry.value %>
</p>

<p>
  <strong>Date time:</strong>
  <%= @entry.date_time %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
