<%- model_class = Entry -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:value) %>:</strong></dt>
  <dd><%= @entry.value %></dd>
  <dt><strong><%= model_class.human_attribute_name(:habit_id) %>:</strong></dt>
  <dd><%= @entry.habit_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:date_time) %>:</strong></dt>
  <dd><%= @entry.date_time %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              entries_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_entry_path(@entry), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              entry_path(@entry),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
