<p id="notice"><%= notice %></p>

<p>
  <strong>Category name:</strong>
  <%= @category.category_name %>
</p>

<p>
  <strong>Category icon:</strong>
  <%= @category.category_icon %>
</p>

<p>
  <strong>Category description:</strong>
  <%= @category.category_description %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
