<%= form_for(@payout) do |f| %>
  <% if @payout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payout.errors.count, "error") %> prohibited this payout from being saved:</h2>

      <ul>
      <% @payout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :payout_name %><br>
    <%= f.text_field :payout_name %>
  </div>
  <div class="field">
    <%= f.label :payout_icon %><br>
    <%= f.text_field :payout_icon %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
