<%= form_for @payout, :html => { :class => "form-horizontal payout" } do |f| %>

  <% if @payout.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@payout.errors.count, "error") %> prohibited this payout from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @payout.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :payout_name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :payout_name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:payout_name) %>
  </div>
  <div class="form-group">
    <%= f.label :goal_id, :class=> 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= collection_select(:payout, :goal_id, @goals, :id, :goal_name) %>
    </div>
    <%=f.error_span(:goal_id) %>
  </div>
  <div class="form-group">
    <%= f.label :payout_icon, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :payout_icon, :class => 'form-control' %>
    </div>
    <%=f.error_span(:payout_icon) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                payouts_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
