<!DOCTYPE html>
<html>
<head>
  <title>Carrot/Stick</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<table class="table table-striped">
  <tr>
    <th><a href="/">Home</a></th>
    <th><a href="/categories">Categories</a></th>
    <th><a href="/entries">Entries</a></th>
    <th><a href="/goals">Goals</a></th>
    <th><a href="/habits">Habits</a></th>
    <th><a href="/payouts">Payouts</a></th>
    <th><a href="/rewards">Rewards</a></th>
    <th><a href="/users">User Info</a></th>
  </tr>
</table>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

<%= render 'layouts/user_widget' %>

</body>
</html>